*{
    margin: 0;
    padding: 0;
  }
  .active{
    font-weight: bold;
  }
  .a-link{
    text-decoration: none;
  }
  /* Style Navbar */
  .navbar{
    width: 100%;
    height: 80px;
    padding: 8px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1100;
    
    /* justify-content: space-around; */
    background-color: rgb(2, 18, 18);
  }
  .navbar .navbar-brand a {
    color: whitesmoke;
    font-size: 10px;
  }
  .navbar-wrap .navlink{
    color: whitesmoke;
    margin: 20px;
    font-size: 20px;
  }

  .navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
    margin-left: 40px;
  }


  .nav-item {
    padding: 0 18px;
  }
  
  .nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
  }

  #title{
     background: url('/images/background.jpg') center center/cover no-repeat;
     height: 100vh;
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
     object-fit: contain;
     
  }

  #cta{
    height: 100vh;
    width: 100%;
  }
 

  p {
    display: block;
  margin-top: 20px;
  float: left;
   margin-right: 70px;
   font-size:large;
   font-family: "Montserrat-Black";
}


#what{
  margin-left: 50px;
  margin-top: 100px;
  font-size: 54px;
 
}

#intro{
  height: 100vh;
  width: 100%;
 
}

#tasks{
  height: 100vh;
  width: 100%;
  background-color: #203c32;

  
}

#footer{
  margin-top: 80px;
  margin-left: 450px;
}

.card{
  margin-top: 100px;

}



.contact{
  height: 100vh;
  width: 100%;
}

.column {
  float: left;
  width: 25%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.flip-box {
  background-color: transparent;
  width: 250px;
  height: 250px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  margin-left: 60px;
  margin-top: 50px;
  
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #bbb;
  color: black;
}

.flip-box-back {
  background-color: #555;
  color: white;
  transform: rotateY(180deg);
}



* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}


@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}


.container-fluid{
  padding: 7% 14%;
  
}

#models {
 
  background-color: #315b4b;
  height: 100vh;
  width: 100%;
}

.models-text {
  font-size: 3rem;
  line-height: 1.5rem;
}

.models-column {
  padding: 3% 2%;
}


img{
  height: 200px;
  width: 338px;
}


.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.0rem;
  line-height: 1.5;
  color: black;
}

h3{
  font-family: "Montserrat-Black";
  color: black;
}

.quote{
  font-family: "Montserrat-Black";
  font-size: 3.0rem;
  line-height: 1.5;
  color: white;
}

.quote-by{
  font-family: "Montserrat-Black";
  color: white;

}


